:root{
    --primaria:#DAC397;
    --gradient:linear-gradient(359deg, rgba(218, 195, 151, 1) 0%, rgba(232, 220, 196, 1) 53%, rgba(245, 241, 235, 1) 100%);
    --gradient-tokens:linear-gradient(308deg,rgba(218, 195, 151, 1) 0%, rgba(192, 183, 165, 1) 100%);
    --gradient-form:linear-gradient(144deg,rgba(243, 232, 213, 1) 50%, rgba(238, 236, 232, 1) 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    margin-top: 20px;

    & h3{
        font-family: "Inter", sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 30.6px;
    }

    & p{
        font-family: "Inter", sans-serif;
        font-size: 25.5px;
        font-weight: 100;
        margin-top: 0px;
        letter-spacing: 3px;
    }
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 200px;

    & a{
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 300;
        text-decoration: none;
        color: black;
    }

   
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & .info{
        position: relative;         
        margin-top: 130px;

    }
    & .socialMedia{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    & .imagesMedia{
        width: 30.4px;
        
    }

    .imagesMedia:hover{
        transform: translateY(-10px) scale(1.03);
    }

    & h1{
        margin-top: 30px;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 3px;
        margin-bottom: 0px;
    }

    & p{
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 200;
        width: 470px;
        margin-top: 25px;
    }

    & button{
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 400;
        width: 300px;
        height: 50px;
        border-radius: 34px;
        border: 0px;
        background-color: var(--primaria);
        color: black;
        cursor:pointer;
        outline: none;
        box-shadow: 0 0px 20px var(--primaria);
        margin-top: 60px;
    }

    button:hover{
        transform: translateY(-10px) scale(1.03);
    }

    & .image{


        img{
            position: absolute;
            width: 466px;
        }

        .rtgFoto {
            position: relative;
            margin-top: 200px;
            z-index: -1;
            background: var(--gradient-tokens);
            width: 466px;
            height: 466px;
            border-radius: 92px;
            
            box-shadow: -20px 19px 20px 0px rgba(66, 68, 90, 0.288);
          }

        & .rtgNome{
            
            position: relative;
            margin-left: 160px;
            margin-top: -80px;
            z-index: 1;
            width: 334.6px;
            height: 131.6px;
            background: var(--gradient);
            border-radius: 10px;          
            box-shadow: -20px 19px 20px 0px rgba(66, 68, 90, 0.288);
            animation: flutuar 5s ease-in-out infinite;

            .infoRtg{
                position: absolute;
                margin-top: 42px;
                margin-left: 45px;
                display: grid;
                grid-template-columns: auto 15px auto;
            }

            & .nome{
                font-family: "Inter", sans-serif;
                font-size: 28px;
                font-weight: 700;
                width: 100px;
                line-height: 28px;
            }

            & .line {
                width: 2px;
                height: 60px;
                background-color: black;
              }
              

            & .turma07{

                width: 135px;

                & h4{
                    font-family: "Inter", sans-serif;
                    font-size: 30.8px;
                    font-weight: 700;
                    margin-bottom: 0px;
                    
                }

                & p{
                    margin-top: 0px;
                    width: 134px;
                }
            }

        }
    }

}

@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);

    }
    
    50%{
        transform:translateY(-20px);
    }
}

.projects{
    height: 900px;
}

.headingProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.rtgHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--gradient);
    width: 420px;
    height: 77px;
    box-shadow: -20px 19px 20px rgba(66, 68, 90, 0.288);
    
}

.rtgHeading h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}


.rtgTokens{
    border-radius: 76.8px;
    background: var(--gradient-tokens);
    height: 405px;
    width: 405px;
}

.textToken{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 405px;
   h4{
        font-family: "Inter", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 1;
        margin: 0;
   }

   p{
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        width: 370px;
        text-align: center;
   }
}

.images{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}

.rectangles{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    
    position: absolute;
    z-index: -1;
    top: 1582px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.token_texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}



