:root{
    --primaria:#4f46e5;
    --secundaria:#7c3eed;
    --escuro:#0f172a;
    --maisEscuro:#0a0f1c;
    --claro:#e2e8f0;
    --vidro:rgba(255,255,255,0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--escuro);
    color:var(--claro);

}

nav{
    position:fixed;
    background-color: rgba(50, 48, 48, 0.8);
    top: 0; /* define a distancia do topo, nesse caso 0 */
    width: 100%;
    z-index: 100; /* Pesquisar depois no chat GPT */
    padding: 1.5em; /* test how it works */
}

#menu{
    display: flex;
    list-style: none; /* tira a bolinha da lista */
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.menu-link{
    text-decoration: none; /* tira a linha abaixo do link */
    color: var(--claro);
    font-weight: 700;
    position: relative;
    padding: 3px;
}

.menu-link::after{ /* linha debaixo do texto */
    content: '';
    height: 2px;
    width: 0;
    position:absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.header{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;

    & img{
        
        width: 350px;
        height: 350px;
        -webkit-box-shadow: 18px 26px 49px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 18px 26px 49px 0px rgba(66, 68, 90, 1);
box-shadow: 18px 26px 49px 0px rgba(66, 68, 90, 1);
        border-radius: 100%;
        border:4px solid var(--vidro);
        animation: flutuar 5s ease-in-out infinite;
    }

    & p{
        font-size: 1rem;
        color: var(--claro);
    }
}

.texto{
    position: absolute;
    top: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 3.1rem;
    color: var(--primaria);
}

h2{
    font-size: 2.5rem;
    color: var(--claro);
}
.sobreMim{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 40px;

    & p{
        width: 750px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--vidro);
        border: 0.5px solid var(--escuro);
        padding: 50px;
        font-size: 20px;
        backdrop-filter: blur(10px);
    }
}

.meusProjetos{
    text-align: center;
    position: relative;
    top: 250px;
    margin-bottom: 400px;

    & h2{
        margin-bottom: 50px;
    }

    & h3{
        margin-bottom: 10px;
    }

    & p{
        line-height: 1.25rem;
    }

    & .textoProjeto{
        padding: 1.5rem;
    }
}

.projectsTodos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.quadrado{
    background-color: var(--vidro);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden; /* esconde oque sobrar da imagem */
    transition: all 0.5s ease;
    cursor: pointer;

    & .imagens{
        height: 250px;
        width:100%;
        object-fit: cover;
    }
   
}

.quadrado:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.contatos{

    & h2{
        padding: 6rem 2rem;
        text-align: center;
    }

    & form{

        max-width: 600px;
        margin: 0 auto;
        background-color: var(--vidro);
        backdrop-filter: blur(10px);
        padding: 2rem;
        border: 1px solid var(--vidro);
        border-radius: 16px;

    }

    & div{
        
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

 
    & input{
      width: 100%;
      padding: 1rem;
      background: var(--vidro);
      border-radius: 8px;
      color: var(--claro);
      margin-bottom: 20px;
      border: 1px solid var(--vidro);
      outline: none; /* faz com que nao mostre mais a selecao do elemento*/
    
    }

    & textarea{
        width: 100%;
      padding: 1rem;
      background: var(--vidro);
      border-radius: 8px;
      color: var(--claro);
      margin-bottom: 20px;
      border: 1px solid var(--vidro);
      outline: none;
    }
    
    & input:focus{
        border-color: var(--secundaria);
        box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    }

    & textarea:focus{
        border-color: var(--secundaria);
        box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    }
}

@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);

    }
    
    50%{
        transform:translateY(-20px);
    }
}